
body {
  background-color: green;
}

/* 盤 */
.stage {
  display: flex;
  flex-wrap: wrap; 
  margin: 10px 60px 10px 50px;
  width: 220px;
  height: 220px;
  border: solid black;
  border-width: 4px;
  float: left;
}


/* マス */
/* 基本マスの枠は右下のみ */
.square {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid black;
  border-width: 0 4px 4px 0;
  cursor: pointer;
}

/* 上マスの枠は上右下 */
.square:nth-child(-n + 4) {
  border-width: 4px 4px 4px 0;
  height: 50px;
}

/* 左マスの枠は左右下 */
.square:nth-child(4n + 1) {
  border-width: 0 4px 4px 4px;
  width: 50px;
}

/* 左上の枠だけは左上右下 */
.square:first-child {
  border-width: 4px;
  width: 50px;
  height: 50px;
}

/* .square:hover {
  background-color: orange;
} */


/* 石 */
.stone {
  position: relative;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* テンプレートは映さない */
#square-template {
  display: none;
} 


/* テキスト ーーーーーーーーーーーーーーーーーーー*/

/* 通常 */
.currentPlayer {
  display: flex;
  flex-wrap: wrap; 
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 55px;
  float: left;
}

#currentTurn {
  font-size: 30px;
}

#playerText {
  color: green;
}


/* 開始 */
.start-text {
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 35px;
  font-size: 40px;
}

#game-start-text {
  color: orange;
  text-shadow: -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                  0 -1px 0 black,                      0 1px 0 black,
                1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
}

.start-text {
  display: none;
}

/* 開始２ */
.start-text2 {
  /* vertical-align: top; */
  position: absolute;
  top: 0px;
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 27px;
  font-size: 40px;
  /* padding: 0px 0px 0px 0px; */
}

#game-start-text2 {
  color: orange;
  text-shadow: -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                  0 -1px 0 black,                      0 1px 0 black,
                1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
}


.no {
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 35px;
  font-size: 40px;
}

/* 終了 */
.gameEnd {
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 57px;
  display: none;
}

#point,
#winner,
#result {
  font-size: 30px;
}

#white-point-text{
  color: white;
}


/* QRコード */
.QR {
  display: flex;
  position: relative;
  top: 10px;
  left: 100px;
  width: 228px;
  height: 228px;
}
.QR-text {
  display: flex;
  position: relative;
  top: 40px;
  left: 193px;
  height: 90px;
  font-size: large;
  font-weight: bold;
  color:  green;
}

.QR-text2 {
  position: absolute;
  top: 47px;
  /* top: 0px; */
  left: 479px;
  height: 90px;
  font-size: large;
  font-weight: bold;
  color: black;
}


.pass-button,
.choose-player-button
.replay-button {
  font-size: large;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0px 0px 95px;
  display: none;
}


.pass-btn,
.player1-btn,
.player2-btn,
.replay-btn {
  border-radius: 20px;
  border-width: 4px;
  padding: 20px;
  font-size:20px;
  font-weight: bold;
  background-color:orange;
  box-shadow:3px 3px 15px -10px  gray;
  cursor: pointer;
  transition: all  0.3s ease;
}

.pass-btn:hover,
.player1-btn:hover,
.player2-btn:hover,
.replay-btn:hover {
  background-color: lightsalmon;
  padding: 30px;
  font-size: 30px;
}



/* 上書き */
.choose-player-button {
  display:block;
  float: left;
  padding: 0px;
  margin: 0px 0px 0px 12px;
}

.replay-button {
  display: none;
  margin: 15px 0px 0px 80px;
}


.com-pass-text {
  display: flex;
  flex-wrap: wrap; 
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 25px;
  color: orange;
  text-shadow: -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                  0 -1px 0 black,                      0 1px 0 black,
                1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
  display: none;
}


/* スマホ画面 */
@media (max-width: 768px) {
  .stage,
  .currentPlayer {
    float: none;
  }

  .QR,
  .QR-text,
  .QR-text2 {
    display: none;
  }
}
