
body {
  background-color: green;
  /* background-color: lightcoral; */
  /* background-color: yellowgreen; */
}

/* 盤 */
.stage {
  display: flex;
  flex-wrap: wrap; 
  margin: 10px 60px 10px 50px;
  width: 220px;
  height: 220px;
  border: solid black;
  border-width: 4px;
  float: left;
}


/* マス */
/* 基本マスの枠は右下のみ */
.square {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid black;
  border-width: 0 4px 4px 0;
  cursor: pointer;
  /* background-color: green; */
  /* background-color: lightgreen; */
  /* background-color: #228B22; */
}

/* 上マスの枠は上右下 */
.square:nth-child(-n + 4) {
  border-width: 4px 4px 4px 0;
  height: 50px;
}

/* 左マスの枠は左右下 */
.square:nth-child(4n + 1) {
  border-width: 0 4px 4px 4px;
  width: 50px;
}

/* 左上の枠だけは左上右下 */
.square:first-child {
  border-width: 4px;
  width: 50px;
  height: 50px;
}


/* 石 */
.stone {
  /* position: absolute; */
  position: relative;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* テンプレートは映さない */
#square-template {
  display: none;
} 


/* テキスト ーーーーーーーーーーーーーーーーーーー*/

/* 通常 */
.currentPlayer {
  display: flex;
  flex-wrap: wrap; 
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 50px;
  float: left;
}

#currentTurn {
  font-size: 30px;
}


/* 開始 */
.start-text {
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 35px;
  font-size: 40px;
}

#game-start-text {
  color: orange;
  text-shadow: -1px -1px 0 black, -1px 0 0 black, -1px 1px 0 black,
                  0 -1px 0 black,                      0 1px 0 black,
                1px -1px 0 black,  1px 0 0 black,  1px 1px 0 black;
}

#stone-put-text {
  font-size: 25px;
}


/* 終了 */
.gameEnd {
  font-size: large;
  font-weight: bold;
  margin: 0px 0px 0px 50px;
  display: none;
  /* display: block; */
}

#point,
#winner,
#result {
  font-size: 30px;
}



/* QRコード */
.QR {
  display: flex;
  position: relative;
  top: 10px;
  left: 100px;
  width: 228px;
  height: 228px;
}
.QR-text {
  display: flex;
  position: relative;
  top: 40px;
  left: 193px;
  height: 90px;
  font-size: large;
  font-weight: bold;
}


.pass-button {
  font-size: large;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0px 0px 95px;
  display:none;
}

.pass-btn {
  border-radius: 20px;
  border-width: 4px;
  padding: 20px;
  font-size:20px;
  font-weight: bold;
  background-color:orange;
  /* box-shadow:3px 3px   -10px gray; */
  box-shadow:3px 3px 15px -10px  gray;
  cursor: pointer;
}


/* 画面サイズに合わせて調整 */
/* PC画面 */
@media (min-width: 768px) {
  #restart-phone {
    display: none;
  }
}

/* スマホ画面 */
@media (max-width: 768px) {
  .stage,
  .currentPlayer {
    float: none;
  }
   
  .QR,
  .QR-text {
    display: none;
  }

  #restart-pc {
    display: none;
  }
}
